.modal-register .modal-content{
    background-color: #161616 !important;
    width: 90%;
    margin: -1% auto;
    border-radius: 10px;
}

.modal-register .modal-content .modal-body{
    width: 90%;
    margin: auto;
    border-radius: 10px;
}

.modal-register .modal-content h4{
    font-weight: 600;
    margin: -1% 0 8% 0;
    font-size: 250%;
}

.modal-register .modal-content .modal-register-input{
    font-weight: 700;
    background-color: #454545;
    border: 3px solid #bcbcbc;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: -1%;
    color: #FFFFFF;
}

.modal-register .modal-content .modal-select {
    margin-top: -8%;
}

.modal-register .modal-content .modal-select:invalid {
    color: #d0d0d0;
}

.modal-register .modal-content .modal-register-input::placeholder {
    color: #d0d0d0;
    opacity: 1;
}

.modal-register .modal-content .modal-body .btn{
    width: 100%;
    background-color: #AF2E1C;
    color: #FFFFFF;
    padding: 8px;
    font-size: 150%;
    margin-top: -1%;
}

.modal-register .modal-content .modal-body .btn:hover {
    background-color: #802216;
}

.modal-register .modal-content .tag-line {
    color: #FFFFFF;
    font-size: 130%;
    margin-top: 6%;
}

.modal-register .modal-content .tag-line .link {
    color: #AF2E1C;
    font-weight: 700;
}

.modal-register .modal-content .tag-line .link:hover {
    cursor: pointer;
    color: #922618;
}
